.footer {
    border-top: 3px solid #dddddd;
    &__top {
        background-color: #f6f6f6;
        &__wrapper {
            padding-top: 80px;
            padding-bottom: 85px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @include __1140{
                justify-content: center;
            }  
            @include __885{
                transform: scale(0.8);
            } 
        }
        &__title {
            margin: -4px 0px 0px 11px;
            width: 287px;
            font-size: 13.5px;
            color: #444444;
            font-weight: 700;
            line-height: 18px;
        }
        &__form {
            position: relative;
            margin: -11px 0px 0px 6px;
            display: flex;
            align-items: center;
            &__input {
                padding-left: 20px;
                width: 413px;
                height: 45px;
                background-color: rgba(0,0,0,0);
                border: 1px solid #cccccc;
                font-size: 11px;
                color: #888888;
                font-weight: 400;
                font-family: "Montserrat";
                @include __1113{
                    width: 320px;
                }
                @include __647{
                    margin-top: 15px;
                }
            }
            &__button{
                position: absolute;
                top: 3px;
                left: 383px;
                height: 48px;
                padding-left: 21px;
                background-color: transparent;
                border: 0px;
                .fa-envelope-o{
                    transform: scale(1.1);
                    color: #999999;
                    outline: 0px;
                    &:hover{
                        color: #e24545;
                    }
                }
                @include __1113{
                    left: 285px;
                }
                @include __885{
                    top: 17px;
                }
            }
        }
        &__socials i{
            transition: all 0.2s;
            width: 49px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: 1px solid #cccccc;
            color: #999999;
            &:hover{
                transition: all 0.2s;
                background-color: #e24545;
                color: #ffffff;
            }
        }
        &__socials {
            margin: -10px -12px 0px 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 360px;
            height: 48px;
            border: 1px solid #cccccc;
            .footer__top__socials__rss{
                border: 0px;
            }
            @include __1140{
                margin-right: 0px;
            }
            @include __1019{
                margin-top: 20px;
            }
        }
        
    }
    &__bottom {
        background-color: #e6e6e6;
        &__wrapper {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            padding-bottom: 41px;
            @include __885{
                justify-content: center;
            }
        }
        &__text{
            display: flex;
            &__copyright {
            margin: 24px 0px 0px 11px;
            font-size: 11px;
            color: #888888;
            font-weight: 700;
            &__codeit {
                color: #444444;
                font-size: 11px;
                margin: 24px 0px 0px 2px;
            }
            }
            .copyright--2{
                margin: 24px 0px 0px 1px;
            }
            @include __885{
                text-align: center;
            }
        }
        
        &__cards {
            display: flex;
            margin: 21px -11px 0px 0px;
            @include __1140{
                margin-right: 50px;
            }
            @include __885{
                margin-right: 0px;
                transform: scale(0.8);
            }
            &__card {
                margin: 0px 0px 0px 10px;
            }
        }
    }    
}