body {
	margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

h1, div, h1, h2, h3, p, a, ul, li, img, label,form{
	margin: 0;
	padding: 0;
	display: block;
	box-sizing: border-box;
}

a{
    text-decoration: none;
}

.container{
	max-width: 1140px;
    margin: 0 auto;
    padding: 0px;
}

@mixin __1140 {
    @media (max-width: 1140px) {
		@content;
	}
}

@mixin __1113{
    @media (max-width: 1113px) {
		@content;
	}
}

@mixin __1019{
    @media (max-width: 1019px) {
		@content;
	}
}

@mixin __885 {
    @media (max-width: 885px) {
        @content;
    }
}

@mixin __647 {
    @media (max-width: 647px) {
        @content;
    }
}

@import 'topheader.scss';
@import 'pageheader.scss';
@import 'wishlistitems.scss';
@import 'pagination.scss';
@import 'storefeatures.scss';
@import 'footer.scss';
