.pagination{
    &__wrapper{
        display: flex;
        justify-content: center;
    }
    &__block{
        display: flex;
        justify-content: center;
        margin: 28px 0px 0px 26px;
        &__button{
            transition: all 0.2s;
            display: flex;
            align-items: center;
            width: 30px;
            height: 30px;
            background-color: rgba(246,246,248,0);
            border: 2px solid #dddddd;
            padding-left: 10px;
            font-family: "Montserrat";
            margin: 0px 5px 0px 3px;
            outline: 0px;
            &:hover{
                background-color: rgba(246,246,248,0);
                border: 2px solid #444444;
                color: #e24545;
                transition: all 0.2s;
            }
        }
    }
}